.main.dropdown-menu{
    background-color: #9470d5;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.main.dropdown-menu a{
    width: 100%;
    float: left;
    padding: 10px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.main.dropdown-menu a:hover{
    background-color: #ad87e1;
}