.main.dropdown-menu{
    background-color: #9470d5;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.main.dropdown-menu a{
    width: 100%;
    float: left;
    padding: 10px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.main.dropdown-menu a:hover{
    background-color: #ad87e1;
}

.sidebar .sidebar-wrapper{
    direction: rtl;
}

.sidebar .sidebar-wrapper::-webkit-scrollbar {
    width:10px;
    background:#e3e0d6;
}

.sidebar .sidebar-wrapper::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

.sidebar .sidebar-wrapper::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:#8b8778;
}

.invalid-feedback.form-base{

    position: absolute;
}

.modal-backdrop.in{
    z-index: 1;
}

.brand-rastreio{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 80px;
    margin: 5px 5px;
    float: left;
    display: block;
    position: relative;
    left: 10px;
}